* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:  #eef9bf;
}

.title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    text-align: center;
}

.content {
    width: 872px;
    height: auto;
    margin: auto;
    margin-top: 47px;
    gap: 34px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
  }

.img {
    width: 100px;
    height: 100px;
  }

.face {
    width: 100%;
    height: 100%;
    background-color: #75B79E;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .1s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .turnFront {
    transform: rotateY(-180deg);
  }

  .turnBack {
    transform: rotateY(0deg);
  }


@media (max-width: 335px){
    .title {
        font-size: 36px;
        line-height: 42px; 
    }

    .content {
        width: 117px;
    }
}